@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico');
body{
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff !important;
}
h2{
  font-size: 2.8em;
  margin:2.1em 0 1.6rem;
  color: #F05941;
  font-weight: 600;
}
.bg-grey{
  background-color: #F1F1F1;
}
.color-org{
  color: #F05941;
}
.border-blue{
  border-bottom: 4px solid #2F1B41
}
.bg-item{
  background-color: rgba(76,75,75,0.6);
  height: 100vh;
  width: 100%;
  padding-top: 10%;
  padding-left: 45%;
}
.itemImg1{
  position: relative;
  background: url(../assets/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.itemImg2{
  position: relative;
  background: url(../assets/img/foto2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.itemImg3{
  position: relative;
  background: url(../assets/img/foto3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.contenedor{
  height: 95vh;
  overflow: hidden;
  background-color: rgba(125,114,113,0.5);
}
.owl-carousel .owl-item img {
    width: auto;
}
.navbar{
  margin-top: 15px;
  font-size: 1.2em;
}
.anchorNav{
  font-weight: 600;
  color: #ffffff;
}
.anchorNav:hover{
  color: #ED4933;
  background-color: transparent!important;
}
.header-nav{
  position: absolute;
  top: 64px;
  left: 8%;
}
.neatlogo{
  width: 50px;
  vertical-align: middle;
}
.anchorlogo{
  padding: 0px 28px 0px 0px!important;
}
.myName{
  color: #FFFDEF;
  font-family: 'Pacifico', cursive;
  font-size: 4.2em;
}
.letter-spacing{
  width: 100%;
  height: 42px;
  margin-left: 15%;
  font-size: 2.5em;
  position: absolute;
  top: calc(50% - 21px);
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font: 300  #{42px}/#{1} 'Open sans condensed', sans-serif;
  color:#FFFDEF;
  opacity: 0;
  animation: name 3s ease-out forwards infinite;
  animation-delay: 1s;
}
@keyframes name{
  0%{
    letter-spacing: -17px;
    opacity: 0;
  }
  30%{
    letter-spacing: 4px;
    opacity: 1;
  }
  100%{
    letter-spacing: 4px;
    opacity: 1;
  }
}
@media only screen and (max-width: 748px) {
  .titleintro img{
    width: 120px;
    margin-left: 38%;
  }
  .titleintro h3{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150%;
  }
  .btn-primary{
    padding: 14px 49px!important;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0.3em;
  }
  .contenedor-bg{
    width: 100%;
    height: 350px;
  }
  .div-contenedor-bg{
    width: 100%;
    height: 450px;
  }
}
/*seccion  about*/

#about{
  height: 130vh;
  color:#2F1B41;
  background-color: #ffffff;
  overflow: hidden;
}
.description-about{
  width: 40%;
  margin: auto;
}
#about p{
  font-size: 1.2em;
  line-height: 1.6;
}
.ul-skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ul-skills li{
  list-style: none;
  width: 100px;
  margin: 10px;
}
.ul-skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ul-skills li{
  list-style: none;
  width: 100px;
  margin: 10px;
}

/*portafolio*/
#portafolio{
  background-color: #F1F1F1;
  overflow: hidden;
}
.col-spm{
  padding: 0;
  margin: 0;
}
