@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico");
.bg-grey {
  background-color: #F1F1F1; }

.color-org {
  color: #F05941; }

.border-blue {
  border-bottom: 4px solid #2F1B41; }

/*********************GENERAL*******************/
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff !important; }

h2 {
  font-size: 2.7em;
  margin: 0 0 1.6rem;
  padding-top: 2.1em;
  color: #F05941;
  font-weight: 600; }
  @media (max-width: 41.5em) {
    h2 {
      font-size: 2.4em; } }
  @media screen and (max-width: 69.5em) {
    h2 {
      font-size: 2.6em; } }

h3 {
  font-weight: 600; }

.parallax {
  background: #ffffff fixed no-repeat 50% 50%;
  background-size: cover; }

.bg-purple-dark {
  background-color: #2F1B41; }

/****************** NAVBAR *******************/
#home {
  background: rgba(190, 49, 68, 0.5); }

/*STYLES MENU*/
.menu {
  list-style: none;
  line-height: 42px;
  padding-left: 0;
  width: 20em;
  margin: .6em auto; }
  .menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .menu a span {
      padding-right: 1em;
      font-size: x-large; }
    .menu a:hover {
      margin-left: 1em; }
  .menu li {
    box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
    margin: 5px;
    margin-top: 0;
    padding-left: 1.5em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .menu li:hover {
      box-shadow: 20em 0 rgba(255, 255, 255, 0.5) inset; }

/*MENU RESPONSIVE*/
nav {
  background: #2F1B41;
  left: -21em;
  height: 95vh;
  position: fixed;
  padding-right: .25em;
  padding-top: 4.5em;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

nav.show {
  left: 0;
  z-index: 20; }

#show-nav {
  position: "";
  background-image: url("../assets/img/hamburguesa.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 2em;
  display: inline-block; }

.nav-header {
  height: 70px;
  width: 100%;
  z-index: 30;
  background-color: #2F1B41;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav-header img {
    height: 42px; }

.logo {
  float: right;
  width: 42px;
  top: 0;
  margin-right: 2em;
  margin-top: 1em; }

/***************BANNER*******************/
.bg-item {
  background-color: rgba(76, 75, 75, 0.6);
  height: 100vh;
  width: 100%;
  padding-top: 10%;
  padding-left: 40%; }
  @media (max-width: 41.5em) {
    .bg-item {
      padding-top: 40%;
      padding-left: 20%; } }
  @media screen and (max-width: 69.5em) {
    .bg-item {
      padding-top: 35%;
      padding-left: 25%; } }

.itemImg1 {
  position: relative;
  background-image: url("../assets/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

.itemImg2 {
  position: relative;
  background-image: url("../assets/img/foto2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

.itemImg3 {
  position: relative;
  background-image: url("../assets/img/foto3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

.contenedor {
  height: 95vh;
  overflow: hidden;
  background-color: rgba(125, 114, 113, 0.5); }

.owl-carousel .owl-item img {
  width: auto; }

.myName {
  color: #FFFDEF;
  /*$pink-light*/
  font-family: "Pacifico", cursive;
  font-size: 4.8em; }
  @media screen and (max-width: 69.5em) {
    .myName {
      font-size: 5.8em; } }
  @media screen and (max-width: 41.5em) {
    .myName {
      font-size: 2.9em; } }

.letter-spacing {
  width: 100%;
  height: 42px;
  margin-left: 15%;
  position: absolute;
  top: calc(50% - 21px);
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font: 300 42px/1 "Open sans condensed", sans-serif;
  color: #FFFDEF;
  /*$pink-light*/
  opacity: 0;
  animation: name 3s ease-in forwards infinite;
  animation-delay: 1s; }
  @media (max-width: 41.5em) {
    .letter-spacing {
      margin-left: 5%;
      top: calc(55% - 21px);
      font: 300 15px/1 "Open sans condensed", sans-serif; } }
  @media screen and (max-width: 69.5em) {
    .letter-spacing {
      margin-left: 10%;
      top: calc(55% - 21px);
      font: 300 35px/1 "Open sans condensed", sans-serif; } }

@keyframes name {
  0% {
    letter-spacing: -17px;
    opacity: 0; }
  30% {
    letter-spacing: 4px;
    opacity: 1; }
  100% {
    letter-spacing: 4px;
    opacity: 1; } }
@media only screen and (max-width: 41.5em) {
  .titleintro img {
    width: 120px;
    margin-left: 38%; }

  .titleintro h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150%; }

  .btn-primary {
    padding: 14px 49px !important;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0.3em; }

  .contenedor-bg {
    width: 100%;
    height: 350px; }

  .div-contenedor-bg {
    width: 100%;
    height: 450px; } }
/***************ABOUT*******************/
#about {
  height: 130vh;
  color: #2F1B41;
  /*$purple-dark:*/
  background-image: url("../assets/img/82.jpg");
  overflow: hidden; }
  @media (max-width: 41.5em) {
    #about {
      height: 180vh; } }
  #about p {
    font-size: 1.5em;
    line-height: 1.4; }
    @media (max-width: 41.5em) {
      #about p {
        font-size: 1.2em; } }

.about-capa {
  background: rgba(255, 255, 255, 0.8);
  height: 130vh; }

.p-skills {
  font-size: 1.2em !important; }

.description-about {
  width: 40%;
  margin: auto; }
  @media (max-width: 41.5em) {
    .description-about {
      width: 70%; } }
  @media (max-width: 69.5em) {
    .description-about {
      width: 80%; } }

.ul-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (max-width: 41.5em) {
    .ul-skills {
      padding: 0; } }
  .ul-skills li {
    list-style: none;
    width: 100px;
    margin: 10px; }
    @media (max-width: 41.5em) {
      .ul-skills li {
        width: 65px;
        margin: 4px; } }
    .ul-skills li img:hover {
      animation: jiggle ease-in-out 400ms infinite; }
@keyframes jiggle {
  0% {
    transform: none; }
  25% {
    transform: rotateZ(5deg); }
  75% {
    transform: rotateZ(-5deg); }
  100% {
    transform: none; } }
/***************************PORTAFOLIO********************/
#portafolio {
  background-image: url("../assets/img/bg3.png");
  overflow: hidden;
  padding-bottom: 2em; }

.content-figure-portfolio {
  overflow: hidden;
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  text-align: center; }
  .content-figure-portfolio figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 0.3em;
    width: 32.333%;
    height: 400px;
    background: #000;
    text-align: center;
    cursor: pointer; }
    .content-figure-portfolio figure img {
      position: relative;
      display: block;
      min-height: 100%;
      opacity: 0.8; }
    .content-figure-portfolio figure figcaption {
      padding: 0.2em;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .content-figure-portfolio figure .description-figure, .content-figure-portfolio figure .title-figure {
      margin: 0; }

figure.figure-portafolio figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 10.75em;
  background: #ffffff;
  color: #2F1B41;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.figure-portafolio .title-figure {
  position: absolute;
  bottom: 13em;
  padding: 0.1em;
  color: #ffffff;
  font-size: 90%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.figure-portafolio .description-figure {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

figure.figure-portafolio:hover .title-figure {
  opacity: 1; }

figure.figure-portafolio:hover figcaption,
figure.figure-portafolio:hover .description-figure {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.figure-portafolio:hover .description-figure {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

@media screen and (max-width: 69.5em) {
  .content-figure-portfolio figure {
    width: 50%; }
    .content-figure-portfolio figure figcaption {
      font-size: 90%; } }
@media screen and (max-width: 41.5em) {
  .content-figure-portfolio figure {
    width: 100%; } }
/********************CONTACT***********************/
#contact {
  overflow: hidden;
  color: #ffffff; }
  #contact p {
    font-size: 1.3em;
    text-align: justify; }
  #contact h2 {
    text-shadow: 3px 1px 11px #ffffff; }
  #contact ul li {
    list-style: none; }
    #contact ul li span {
      font-size: x-large;
      padding-right: 1em; }
      #contact ul li span:hover {
        color: #F05941;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
    #contact ul li span + p {
      display: inline-block; }

.bg-item-contact {
  background-color: rgba(76, 75, 75, 0.7);
  height: auto;
  width: 100%;
  padding: .1em; }

.itemImg1-contact {
  position: relative;
  background-image: url("../assets/img/contact.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

/**********footer styles*******/
footer {
  color: white; }

footer h3 {
  margin-bottom: 30px; }

footer .footer-col {
  margin-bottom: 50px; }

footer .footer-below {
  padding: 25px 0;
  background-color: #2F1B41; }

/*# sourceMappingURL=main.css.map */
