body{
  margin: 0;
  box-sizing: border-box;
  background-color: #ededed !important;
}
.bg-color{
  background-color: rgba(76,75,75,0.3);
  height: 100vh;
  width: 100%;
}
.bg-image{
	margin: 0;
	background-image: url(../assets/img/mockup2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar{
  font-size: 1.2em;
}
.anchorNav{
  font-weight: 600;
  color: #ffffff;
}
.anchorNav:hover{
  color: #C50000;
  background-color: transparent!important;
}
.header-nav{
  position: absolute;
  top: 64px;
  left: 8%;
}
.neatlogo{
  width: 90px;
  vertical-align: middle;
}
.anchorlogo{
  padding: 0px 28px 0px 0px!important;
}
.titleintro{
  color: #ffffff;
  position: absolute;
  top: 190px;
  left: 5%;
  text-align: center;
}
.titleintro h1{
  font-size: 5.8rem;
  font-weight: bold;
}
.titleintro h3{
  font-size: 2.1rem;
  font-weight: bold;
}
.btn-primary{
  background-color: #3498DB!important;
  border-radius: 35px;!important;
  padding: 14px 42px!important;
  border: none;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 28px;
}












@media only screen and (max-width: 748px) {
  .hero-park{
    left: -200px;
  }
  .titleintro img{
    width: 120px;
    margin-left: 38%;
  }
  .titleintro h3{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150%;
  }
  .btn-primary{
    padding: 14px 49px!important;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 28px;
  }
  .contenedor-bg{
    width: 100%;
    height: 350px;
  }
  .div-contenedor-bg{
    width: 100%;
    height: 450px;
  }
  .hero-bg{
    top: 40%;
  	background-position: right bottom;
  }
  .hero-park{
    bottom: -160px;
    left: -170px;
  }
  .hero-bench{
    bottom: -160px;
    left: 90%;
  }
  .hero-castle{
    bottom: -160px;
  }
  .ourpromise{
    padding-top: 200px!important;
  }
  .histoty-tertimonio_girl{
    padding: 0% 9%;
    text-align: center;
  }
}
