.navbar{
  height: 60px;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.anchorNav{
  font-weight: 600;
  color: #ffffff;
}
.anchorNav:hover{
  color: #ED4933;
  background-color: transparent!important;
}
.header-nav{
  position: absolute;
  top: 64px;
  left: 8%;
}
.neatlogo{
  width: 50px;
  vertical-align: middle;
}
.anchorlogo{
  padding: 0px 28px 0px 0px!important;
}
.bg-nav{
  background-color: #BE3144;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0.2s;
}
